* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container {
 width: 80%;
    
    
    margin: auto;
}
.navbar{
    display: flex;
    justify-content: space-between;
    height: 60px;
    /* border: 2px solid black; */
    align-items: center;
}
.hero{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.hero1>img{
    width: 400px
}
.hero2{
    
    width: 400px;
    height: 350px;
}
.hero2>button{
    padding: 5px;
    width: 200px;
    background-color: green;
    border: none;
    margin: 20px;
    color: white;
}
.hero2>h1{
    font-size: 50px;
    margin: 20px;
}
.hero2>p{
    font-size: 10px;
    margin: 20px;
}
#btn{
    background-color:orange;
    border: none;
    padding: 10px;
    width: 100px;
    margin: 20px;
    height: 40px;
    font-weight: 700;
    color: white;
    
}
.about{
    max-width: 1000px;
    margin: 50px auto;
}
.about>img{
    width: 100%;
}
.product{
    text-align: center;
    margin-top: 80px;
}
.product>button{
    padding: 5px;
    background-color: green;
    border: none;
    width: 100px;
    font-size: 15px;
    color: white;
}
.product>p{
    font-size: 30px;
    padding: 20px;
}
.product1>img{
    width: 100%; 
}
footer{
    background-color: rgb(231, 216, 219);
    margin-top: 100px;
    height: 300px;
}
footer>img{
    width: 85%;
    padding: 60px;
    margin-left: 100px;
}